.breadcrumbs {
  font-size: .9em;
  text-align: left;
  padding: 10px 15px;
  color: #777;
}

.breadcrumbs a{
  padding: 3px;
}

.breadcrumbs a:hover{
  color: #EA5124;
}

.breadcrumbs div {
  display: inline;
  padding: 0;
}


.photo-fullscreen .breadcrumbs {
  margin-top: 40px;
}
