
.sociallinks a {
  display: inline-block;
  padding: 15px;
}

.sociallinks a p {
  margin-top: 0px;
}

a.facebook:hover{
  color: #3b5998;
}

a.twitter:hover{
  color: #00aced;
}

a.youtube:hover{
  color: #bb0000;
}

a.instagram:hover{
  color: #517fa4;
}

a.soundcloud:hover{
  color:#FF4800;
}

a.google-plus:hover {
  color: #D73D32;
}

div.fa-stack {
  padding: 0;
}