

body {
    background-color: #FFF;
}

a {
    text-decoration: none;
}

.fixed {
    position: fixed;
}

.no-padding {
    padding: 0;
}



a.facebook:hover{
    color: #3b5998;
}

a.twitter:hover{
    color: #00aced;
}

a.youtube:hover{
    color: #bb0000;
}

a.instagram:hover{
    color: #517fa4;
}

a.soundcloud:hover{
    color:#FF4800;
}

a.google-plus:hover {
    color: #D73D32;
}


.content {
    padding: 0;
    max-width: 1100px;
    margin: auto;
   /* box-shadow: 0px 0px 30px -10px #000;*/
}

nav {
    font-size: 1.1em;
    padding: 5px 40px;
}

nav.fixed {
    width: 100%;
    max-width: 1100px;
}

header nav ul {
    height: 60px;
}

nav ul li a{
    padding: 19px 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform-style: preserve-3d;
}

nav ul li a:hover, nav ul li a.active{
    border-bottom: 8px solid #EA5124;
}

header nav img {
    display: inline;
    float: left;
}
.button {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    font-weight: normal;
    font-size: 0.9em;
    text-transform: uppercase;
}

.bg-white {
    background-color: #ffffff;
}

.bg-setonescap-red {
    background-color: #EA5124;
}

.button.bg-setonescap-red {
    background-color: inherit;
    border: 1px solid #EA5124;
    color: #333;
}

.button.bg-setonescap-red:hover {
    background-color: #EA5124;
    -webkit-box-shadow: none;
    box-shadow: none;
}


aside .fa {
    margin-right: 5px;
}

aside.bg-noise li:hover {
    background-image: none;
}

aside ul li:hover{

}

aside ul li a:hover{
    color: #fff;
    background-color: #333;
}

table {
    border-collapse: collapse;
    border: 1px solid #DDD;
    width: 100%;
}

table th, table td {
    text-align: left;
    padding: 7px;
}

table tr:nth-child(odd) {
    background-color: #DDD;
}

table tr:nth-child(even) {
    background-color: #CCC;
}

table tr:nth-child(odd):hover {
    background-color: #EEE;
}

table tr:nth-child(even):hover {
    background-color: #EEE;
}

table tr:first-child:hover{
    background-color: #DDD;
}

aside.bg-black li a {
    border-top: 1px solid #111;
    border-bottom: 1px solid #333;
}

aside.bg-black li a:hover {
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
    background-image: url(../images/template/noise.png);
    background-repeat: repeat;
}



header {
    position: absolute;
    z-index: 999;
    width: 100%;
}
.header {
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 0px;
}

.header-text {
    position: absolute;
    bottom: 0px;
}

.header-text h1 {
    margin: 0;
    color: #EA5124;
    font-size: 4em;
}

.header.home {
    background: url('../images/headers/home.jpg') 50% 0 fixed;
}

.header.concerts {
    background: url('../images/headers/concerts.jpg') 50% 0 fixed;
}

.header.videos {
    background: url('../images/headers/videos.jpg') 50% 0 fixed;
}

.header.photos {
    background: url('../images/headers/photos.jpg') 50% 0 fixed;
}


.box-nav {
    padding: 0;
}
.box-nav-item {
    height: 250px;
    padding: 0;
    overflow: hidden;
}
#Videos .box-nav-hover {
    background-image: url('../images/template/videos-thumb.jpg');
}
#Concerts .box-nav-hover{
    background-image: url('../images/template/concerts-thumb.jpg');
}
#Info .box-nav-hover {
    background-image: url('../images/template/videos-thumb.jpg');
}
#Photos .box-nav-hover{
    background-image: url('../images/template/concerts-thumb.jpg');
}
#Booking .box-nav-hover {
    background-image: url('../images/template/videos-thumb.jpg');
}
#Music .box-nav-hover{
    background-image: url('../images/template/concerts-thumb.jpg');
}
.box-nav-hover {

    background-size: cover;
    background-position: center;
    padding: 0;
    height: 250px;
    opacity: 1;
    -webkit-transition: height .2s ease, -webkit-filter .2s ease, opacity .4s; /* For Safari 3.1 to 6.0 */
}
.box-nav-item:hover .box-nav-hover{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: url(#blur-effect-1);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    zoom: 1;
    position: relative;
    width: 100%;
    height: 290px;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 5;
    opacity: .1;
}
.box-nav-link{
    z-index: 12;
    position: absolute;
    text-transform: lowercase;
}
.box-nav-link h2{
    font-size: 3em;
    text-shadow: 2px 2px 10px #000;
    line-height: 0;
}
.box-nav-link span{
    opacity: 0;
    font-size: 1.3em;
    width: 0px;
    display: block;
    -webkit-transition: all .2s linear; /* For Safari 3.1 to 6.0 */
    transition: all .2s linear;
    margin: -12px 0 0 23px;
}
.box-nav-link span:before {
    border: 2px solid #FFF;
    content: close-quote;
    display: block;
    margin: 0px 0 -2px -20px;
    overflow: hidden;
}
.box-nav-item:hover .box-nav-link span {
    opacity: 1;
    width: 300px;
}
#introduction p {
    font-size: 1.2em;
}

.photoalbumDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    opacity:0;

    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.photoalbumDialog:target {
    opacity:1;
    pointer-events: auto;
}

.photoalbumDialog > div {
    height: 600px;
    max-height: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0px auto;
    padding: 0;
    background: #fff;
}

.photoalbumDialog > div img {

    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.photoalbumDialog > div > div{
    height: 100%;
}


.photoalbumDialog .close {
    position: absolute;
    right: 5px;
    top: 3px;
}

#picturebox .buttons {
    text-align: center;

}


.fixed-bottom{
    max-width: 1100px;
    margin: auto;
}

.fb-thumb, .album-thumb {
    overflow: hidden;
    max-height: 300px;
}

.fb-thumb img, .album-thumb img {
    width: 100%;
}

.bottom-col {
    padding-bottom: 130px;
    line-height: .5em;
}

#news-posts, #photoalbums-link {
    width: 0 auto;
    padding: 0;
    margin: auto;
}

.news-post, .photoalbum-link {
    padding: 10px;
    float: left;
    overflow: hidden;
}


p.fb-date, p.album-date {
    margin: 0;
    font-size: 0.8em;
}

.event-item {

}

.event-item h2, h3 {
    margin: -15px 0px -2px 0px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container img {
    margin-top: -50px;
}


.photo-fullscreen {
    text-align: center;
}

.photo-fullscreen img {
    max-width: 1100px;
    max-height: 1200px;
}
