$font: "robotoregular", Helvetica, Arial, sans-serif;

$dark:  #333;
$bright: #eee;
$bodybackground: #f9f9f9;
$setonescap-color: #BE2791;
$setonescap-color-light: #c72c9b;
$setonescap-color-dark: #b3278d;