node_modules
.sass-cache
dist
.tmp

public_html/.htaccess
public_html/dbconf.php
public_html/images/original-photos
public_html/images/template
public_html/images/venuelogos
public_html/service-variables.php
photoshop