node_modules
.sass-cache
dist
.tmp

public_html/.htaccess
public_html/._webhtaccess
public_html/dbconf.php
public_html/images
public_html/service-variables.php
photoshop
public_html/zp1IhJsS34a-VoCURkLHFt_kp4s.html
public_html/robots.txt
public_html/sitemap.xml