

body {
    background-color: #FFF;
}

::-moz-selection{
    background:#EA5124;
    color:#fff;text-shadow:none
}

::selection{
    background:#EA5124;
    color:#fff;
    text-shadow:none
}


a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
}

.breadcrumbs {
    font-size: .9em;
    text-align: left;
    padding: 2px;
    color: #777;
}

.breadcrumbs a{
    padding: 3px;
}

.breadcrumbs a:hover{
    color: #EA5124;
}

.breadcrumbs div {
    display: inline;
    padding: 0;
}

.photo-fullscreen .breadcrumbs {
    margin-top: 40px;
}

.fixed {
    position: fixed;
}

.no-padding {
    padding: 0;
}

.sociallinks a {
    display: inline-block;
    padding: 15px;
}

.sociallinks a p {
    margin-top: 0px;
}

a.facebook:hover{
    color: #3b5998;
}

a.twitter:hover{
    color: #00aced;
}

a.youtube:hover{
    color: #bb0000;
}

a.instagram:hover{
    color: #517fa4;
}

a.soundcloud:hover{
    color:#FF4800;
}

a.google-plus:hover {
    color: #D73D32;
}

.fg-white {
    color: #fff;
}

.content {
    padding: 0;
    max-width: 1100px;
    margin: auto;
   /* box-shadow: 0px 0px 30px -10px #000;*/
}


nav {
    font-size: 1.1em;
    padding: 5px 40px;
}
@media screen and (max-width: 750px) {
    nav {
        font-size: 1em;
        padding: 5px 5px;
    }
}

nav.fixed {
    width: 100%;
    max-width: 1100px;
}

header nav ul {
    height: 60px;
}

nav ul li a{
    padding: 19px 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform-style: preserve-3d;
}

nav ul li a:hover, nav ul li a.active{
    border-bottom: 8px solid #EA5124;
}

header nav img {
    display: inline;
    float: left;
}
.button {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    font-weight: normal;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-right: -1px;
}

.bg-white {
    background-color: #ffffff;
}

.bg-setonescap-red {
    background-color: #EA5124;
}

button.bg-setonescap-red:hover, a.bg-setonescap-red:hover  {
    color: #FFF;
}

.fg-setonescap-red {
    color: #EA5124;
}

.button.bg-setonescap-red {
    background-color: inherit;
    border: 1px solid #EA5124;
    color: #333;
}

.button.bg-setonescap-red:hover {
    background-color: #EA5124;
    -webkit-box-shadow: none;
    box-shadow: none;
}


aside .fa {
    margin-right: 5px;
}

aside.bg-noise li:hover {
    background-image: none;
}

aside ul li:hover{

}

aside ul li a:hover{
    color: #fff;
    background-color: #333;
}

table {
    border-collapse: collapse;
    border: 1px solid #DDD;
    width: 100%;
}

table th, table td {
    text-align: left;
    padding: 7px;
}

table tr:nth-child(odd) {
    background-color: #DDD;
}

table tr:nth-child(even) {
    background-color: #CCC;
}

table tr:nth-child(odd):hover {
    background-color: #EEE;
}

table tr:nth-child(even):hover {
    background-color: #EEE;
}

table tr:first-child:hover{
    background-color: #DDD;
}

aside.bg-black li a {
    border-top: 1px solid #111;
    border-bottom: 1px solid #333;
}

aside.bg-black li a:hover {
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
    background-image: url(../images/template/noise.png);
    background-repeat: repeat;
}



header {
    position: absolute;
    z-index: 999;
    width: 100%;
}
.header {
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 0px;
}

.header-text {
    position: absolute;
    bottom: 0px;
}

.header-text h1 {
    margin: 0;

    font-size: 3.2em;
}

.header.home {
    background: url('../images/headers/home.jpg') 50% 0 fixed;
}

.header.concerts {
    background: url('../images/headers/concerts.jpg') 50% 0 fixed;
}

.header.videos {
    background: url('../images/headers/videos.jpg') 50% 0 fixed;
}

.header.photos {
    background: url('../images/headers/photos.jpg') 50% 0 fixed;
}

.header.about {
    background: url('../images/headers/about.jpg') 50% 0 fixed;
}
.header.fourohfour {
    background: url('../images/headers/404.jpg') 50% 0 fixed;
}


#introduction p {
    font-size: 1.2em;
}

.photoalbumDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    opacity:0;

    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.photoalbumDialog:target {
    opacity:1;
    pointer-events: auto;
}

.photoalbumDialog > div {
    height: 600px;
    max-height: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0px auto;
    padding: 0;
    background: #fff;
}

.photoalbumDialog > div img {

    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.photoalbumDialog > div > div{
    height: 100%;
}


.photoalbumDialog .close {
    position: absolute;
    right: 5px;
    top: 3px;
}

.photoalbumDialog .navigation {
    padding: 0;
    max-width: 275px;
}

#picturebox .buttons {
    text-align: center;

}


.fixed-bottom{
    max-width: 1100px;
    margin: auto;
}

.fb-thumb, .album-thumb {
    overflow: hidden;
    max-height: 300px;
}

.fb-thumb img, .album-thumb img, .fb-thumb video {
    width: 100%;
    height: auto;
}

.bottom-col {
    padding-bottom: 130px;
    line-height: .5em;
}

#news-posts, #photoalbums-link {
    width: auto;
    padding: 0;
    margin: auto;
}

.news-post, .photoalbum-link {
    padding: 10px;
    float: left;
    overflow: hidden;
}


p.fb-date, p.album-date {
    margin: 0;
    font-size: 0.8em;
}

.event-item {
    margin-bottom: 15px;
}

.event-item h3, h4 {
    margin: 0px 0px -2px 0px;
}

.panel h3 {
    margin: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-container img {
    margin-top: -50px;
}


.photo-fullscreen {
    text-align: center;
    padding: 50px 0 0 0;
}

.photo-fullscreen img {
    max-width: 100%;
    max-height: 1200px;
}


.slicknav_menu {
    display:none;
}

footer{
    color: #777!important;
}

@media screen and (max-width: 40em) {
    .js #menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }
    .slicknav_nav .float-right{
        float: none;
    }
    nav ul li a:hover, nav ul li a.active{
        border-bottom: none;
    }
    .slicknav_nav img {
        position: absolute;
        right: 30px;
        bottom: 10px;
        opacity: 0.1;
        width: 150px;
    }
    .slicknav_menu.fixed{
        z-index: 500;
        width: 100%;
    }
    header nav ul, nav ul {
        height: auto;
    }
}


@media screen and (max-width: 767px) {
    #preview{
        overflow: auto;
        line-height: 1em;
        height: 100%;
    }
    #preview h2{
        margin: 0 0 5px 0;
        line-height: 1em;
    }
    #preview .col-9 {
        height: 55%;
    }
    #preview button.col-6 {
        width: 50%;
    }

    #preview .col-3 {
        height: 45%;
        width: 100%;
    }

    footer .col-6 {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    footer .col-6 {
        width: 100%;
        text-align: center;
        padding: 2px;
    }
}

div.fa-stack {
    padding: 0;
}

div.fb-like span {
    height: auto!important;
    bottom: 20px;
    max-width: 100%;
}

div.fb-like span iframe{
    height: auto!important;
    max-width: 100%;
}

@-moz-document url-prefix() {
    .col-4.news-post {
        width: 33%;
    }
    @media (max-width: 767px) {
        .col-4.news-post {
            width: 50%;
        }
    }
    @media (max-width: 639px) {
        .col-4.news-post {
            width: 100%;
        }
    }
}